# Application Environment (development, testing, production)
ENVIRONMENT=development

# Application Configuration
BASE_URL=http://localhost/accounting25

# Database Configuration
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=accounting25
DB_DRIVER=mysqli
